.login-background {
    height: 100vh;
    background-size: cover;
    background-image: url("../../media/images/login-page_background.jpg");
}
.login-form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}
